.delete,.modal-close{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color:rgba(10,10,10,.2);
    border:none;
    border-radius:9999px;
    cursor:pointer;
    pointer-events:auto;
    display:inline-block;
    flex-grow:0;
    flex-shrink:0;
    font-size:0;
    height:20px;
    max-height:20px;
    max-width:20px;
    min-height:20px;
    min-width:20px;
    outline:0;
    position:relative;
    vertical-align:top;
    width:20px
}

.delete::after,.delete::before,.modal-close::after,.modal-close::before{
    background-color:#fff;
    content:"";
    display:block;
    left:50%;
    position:absolute;
    top:50%;
    transform:translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin:center center
}

.delete::before,.modal-close::before{
    height:2px;
    width:50%
}

.delete::after,.modal-close::after{
    height:50%;
    width:2px
}

.delete:focus,.delete:hover,.modal-close:focus,.modal-close:hover{
    background-color:rgba(10,10,10,.3)
}

.delete:active,.modal-close:active{
    background-color:rgba(10,10,10,.4)
}

.is-small.delete,.is-small.modal-close{
    height:16px;
    max-height:16px;
    max-width:16px;
    min-height:16px;
    min-width:16px;
    width:16px
}

.is-medium.delete,.is-medium.modal-close{
    height:24px;
    max-height:24px;
    max-width:24px;
    min-height:24px;
    min-width:24px;
    width:24px
}

.is-large.delete,.is-large.modal-close{
    height:32px;
    max-height:32px;
    max-width:32px;
    min-height:32px;
    min-width:32px;
    width:32px
}

.button.is-loading::after,.control.is-loading::after,.loader,.select.is-loading::after{
    -webkit-animation:spinAround .5s infinite linear;
    animation:spinAround .5s infinite linear;
    border:2px solid #dbdbdb;
    border-radius:9999px;
    border-right-color:transparent;
    border-top-color:transparent;
    content:"";
    display:block;
    height:1em;
    position:relative;
    width:1em
}

.hero-video,.image.is-16by9 .has-ratio,.image.is-16by9 img,.image.is-1by1 .has-ratio,.image.is-1by1 img,.image.is-1by2 .has-ratio,.image.is-1by2 img,.image.is-1by3 .has-ratio,.image.is-1by3 img,.image.is-2by1 .has-ratio,.image.is-2by1 img,.image.is-2by3 .has-ratio,.image.is-2by3 img,.image.is-3by1 .has-ratio,.image.is-3by1 img,.image.is-3by2 .has-ratio,.image.is-3by2 img,.image.is-3by4 .has-ratio,.image.is-3by4 img,.image.is-3by5 .has-ratio,.image.is-3by5 img,.image.is-4by3 .has-ratio,.image.is-4by3 img,.image.is-4by5 .has-ratio,.image.is-4by5 img,.image.is-5by3 .has-ratio,.image.is-5by3 img,.image.is-5by4 .has-ratio,.image.is-5by4 img,.image.is-9by16 .has-ratio,.image.is-9by16 img,.image.is-square .has-ratio,.image.is-square img,.is-overlay,.modal,.modal-background{
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0
}

.modal{
    align-items:center;
    display:none;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;
    position:fixed;
    z-index:40
}

.modal.is-active{
    display:flex;
}

.modal-background{
    background-color:rgba(10,10,10,.86)
}

.modal-card,.modal-content{
    margin:0 20px;
    max-height:calc(100vh - 160px);
    overflow:auto;position:relative;
    width:100%
}

@media screen and (min-width:769px){
    .modal-card,.modal-content{
        margin:0 auto;
        max-height:calc(100vh - 40px);
        width:640px
    }
}
.modal-close{
    background:0 0;
    height:40px;
    position:fixed;
    right:20px;
    top:20px;
    width:40px
}

.modal-card{
    display:flex;
    flex-direction:column;
    max-height:calc(100vh - 130px);
    border: 1px solid rgba(238, 223, 158, 0.26);
    border-radius: 4px;
    overflow:hidden;
    -ms-overflow-y:visible
}

.modal-card-foot,.modal-card-head{
    align-items:center;
    background-color:rgba(27, 27, 27, 0.719);
    display:flex;
    flex-shrink:0;
    justify-content:flex-start;
    padding:8px;
    position:relative
}

.modal-card-head{
    border-bottom:1px solid #1b1b1b;
    border-top-left-radius:6px;
    border-top-right-radius:6px
}

.modal-card-title{
    color:#f1f1f1;
    flex-grow:1;
    flex-shrink:0;
    font-size:1rem;
    line-height:1
}

.modal-card-foot{
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top:1px solid #1b1b1b
}

.modal-card-foot .button:not(:last-child){
    margin-right:.5em
}

.modal-card-body{
    -webkit-overflow-scrolling:touch;
    background-color:rgba(97, 97, 97, 0.705);
    flex-grow:1;
    flex-shrink:1;
    overflow:auto;
    padding:20px
}

/*-------------------table-------------------*/

.table{
    background-color:#fff;
    color:#363636;
    border-collapse: collapse;
    
}

.table td,.table th{
    border:1px solid #dbdbdb;
    border-width: 0 0 1px 0;
    padding:.5em .75em;
    text-align: center;
}

.table tr.tbody:hover{
    background-color:#00d1b2;
    color:#fff
}


.table thead td,.table thead th{
    border-width:0 0 2px;
    color:#363636
}
