.modal{
    align-items:center;
    display:none;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;
    position:fixed;
    z-index:40
}

.modal-background{
    background-color:rgba(10,10,10,.7)
}

.modal.is-active{
    display:flex;
}

.modal-card,.modal-content{
    margin:0 20px;
    max-height:calc(120vh - 160px);
    overflow:auto;position:relative;
    width:70%;
    height: 80%;
    top:0;
}

.close{
    cursor:pointer;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    background: url(../assets/window_sprite.png) no-repeat;
}

.modal-card-head .close {
    background-position: 0px -32px;
}

.modal-card{
    display:flex;
    flex-direction:column;
    border: 1px solid rgba(238, 223, 158, 0.26);
    border-radius: 8px;
    overflow:hidden;

    position: relative;
    z-index: 2;
    min-width: 360px;
    border-radius: 7px 7px 7px 7px;
    min-height: 60px;
    background: #B2A07C url(../assets/bg_patern.png);
}

.modal-card .modal-card-head{
    position: relative;
    height: 32px;
    line-height: 24px;
    padding: 4px 4px;
    border-radius: 9px 9px 0px 0px;
    text-align: center;
    border: 1px solid #8B3E27;
    border-bottom: none;
    background: url(../assets/window_sprite.png) repeat-x 0px 0px;
    cursor: move;
}

/*------------------------------------------  TABS --------------------------------------------*/

.modal .modal-tabs {
    min-height: 35px;
    padding: 3px 18px 0px;
    margin: 0px;
    border-bottom: 1px solid #E8D4AC;
    background: #3C3428;
}

.modal .modal-tabs .list-tab{
    display: inline-block;
    height: 31px;
    margin: 0px 2px;
}

.modal .modal-tabs a{
    position: relative;
    display: block;
    height: 31px;
    line-height: 30px;
    padding: 0px 25px 0px 45px;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
    color: #C7AE8D;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom-width: 0px;
    background: #65553F;
    background: linear-gradient(to bottom, #7d6d57 0%, #51422f 100%);
    cursor: pointer;
}

.modal .modal-tabs a:hover{
    background: linear-gradient(to bottom, #87745e 0%, #604e39 100%);
}

.modal .modal-tabs .active a {
    color: #554F40;
    border: 1px solid #E8D4AC;
    border-bottom-color: transparent;
    background: #B2A07C url(../assets/bg_patern.png);
    height: 32px;
}

.modal .modal-tabs a div{
    position: absolute;
    top: 0;
    left: 7px;
    width: 30px;
    height: 30px;
    background: url(../assets/tabs_pictt.png) no-repeat;
}

.modal .modal-tabs .tab-all.active > a div {
    background-position: -123px -28px;
}

.modal .modal-tabs .tab-all a div {
    background-position: -150px -28px;
}

.modal .modal-tabs .tab-social.active > a div {
    background-position: 0px 0px;
}

.modal .modal-tabs .tab-social a div {
    background-position: -30px 0px;
}

.modal .modal-tabs .tab-animals.active > a div {
    background-position: -60px 0px;
}

.modal .modal-tabs .tab-animals a div {
    background-position: -90px 0px;
}

.modal .modal-tabs .tab-production.active > a div {
    background-position: -120px 0px;
}

.modal .modal-tabs .tab-production a div {
    background-position: -150px 0px;
}

.modal .modal-tabs .tab-storage.active > a div {
    background-position: -180px 2px;
}

.modal .modal-tabs .tab-storage a div {
    background-position: -210px 2px;
}

.modal .modal-tabs .tab-machines.active > a div {
    background-position: -240px 0px;
}

.modal .modal-tabs .tab-machines a div {
    background-position: -267px 0px;
}

.modal .modal-tabs .tab-crops.active > a div {
    background-position: 0px -30px;
}

.modal .modal-tabs .tab-crops a div {
    background-position: -30px -28px;
}

.modal .modal-tabs .tab-others.active > a div {
    background-position: -60px -28px;
}

.modal .modal-tabs .tab-others a div {
    background-position: -90px -28px;
}

@media screen and (max-width:1388px){
    
    .modal .modal-tabs .list-tab{
        width: 43px;
        margin: 0 15px;
    }
    .modal .modal-tabs a span{
        display: none;
    }
    .modal .modal-tabs a div{
        left: 30%;
    }

}

@media screen and (max-width:870px){
    .modal .modal-tabs .list-tab{
        width: 45px;
        margin: 0 2px;
    }
    .modal .modal-tabs a {
        padding: 0px;
    }
    .modal .modal-tabs a div{
        left: 10%;
    }
}
@media screen and (max-width:360px){
    .modal-card, .modal-content{
        width: 100px;
    }
}
/*---------------------------------------------------------------------------------------------*/
.throw{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 16px;
    padding: 0px 20px;
    color: #C7AE8D;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border: 1px solid transparent;
    border-top-color: #723121;
    border-bottom-color: #863C26;
    background-color: #4B0F07;
    background-color: rgba(75,15,7,0.26);
}

.modal-card-body{
    flex-grow:1;
    flex-shrink:1;
    overflow:auto;
    padding: 2% 5%;
}

.modal-card-head{
    border-bottom:1px solid #1b1b1b;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    box-shadow: 0 2px 30px;
}

.table-header-icons{
    background: url(../assets/table_header_icons.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 20px;
}

.table-header-icons.building {
    background-position: -62px 0px;
}

.table-header-icons.level {
    background-position: -30px -20px;
}

.table-header-icons.cost {
    background-position: -120px -40px;
}

.table-header-icons.actions {
    background-position: 0px -20px;
}

.modal-card-foot,.modal-card-head{
    align-items:center;
    background-color:rgba(27, 27, 27, 0.719);
    display:flex;
    flex-shrink:0;
    justify-content:flex-start;
    padding:16px;
    position:relative
}

.modal-card-foot{
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top:1px solid #1b1b1b
}

.modal-card-title{
    color:#c7ae8d;
    flex-grow:1;
    flex-shrink:0;
    font-size:1rem;
    line-height:1
}

.is-overlay,.modal,.modal-background{
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0
}

@media screen and (max-width:769px){
    .modal-card,.modal-content{
        margin:0 auto;
        max-height:calc(100vh - 40px);
        width:100%;
        font-size: 14px;
    }

    .modal table{
        font-size: 10px !important;
    }

}

/* -------------------- Modal table -------------------- */

.modal{
    position: absolute;
}

.modal thead tr.thead{
    position:sticky;
    background-color: #83766067;
}

.modal thead tr.thead{
    height: 40px;
}

.modal table tbody{
    position: relative;
    background: #ffffff1f;
}
.modal .modal-card-title{
    text-align: center;
}

.modal table tbody tr:nth-child(even){
    background: #97886aa4;
}
.modal table tbody.social > tr:nth-child(n+4){
    display:none;
}

.modal table tbody.animal  tr:nth-child(-n+3) {
    display:none;
}
.modal table tbody.animals  tr:nth-child(n+14) {
    display:none;
}

.modal table tbody.production  tr:nth-child(-n+24) {
    display:none;
}
.modal table tbody.productions  tr:nth-child(n+39) {
    display:none;
}

.modal table tbody.storage  tr:nth-child(-n+19) {
    display:none;
}
.modal table tbody.storages  tr:nth-child(n+25) {
    display:none;
}

.modal table tbody.crop  tr:nth-child(-n+13) {
    display:none;
}
.modal table tbody.crops  tr:nth-child(n+18) {
    display:none;
}

.modal table tbody.machine  tr:nth-child(-n+17) {
    display:none;
}
.modal table tbody.machines  tr:nth-child(n+20) {
    display:none;
}

.modal table tbody.others  tr:nth-child(-n+38) {
    display: none;
}

.modal table tbody tr:hover{
    background: rgba(244,211,113,0.25);
}

.modal table td,.modal table th{
    border-right: 1px solid #786C56;
}

.modal .table .thead th{
    border-right: 1px solid #786C56;
}

.modal table{
    width: 100%;
    color: #494334;
    background: #8376600e;
    border: 1px solid #786C56;
    font-size: 0.9rem;
}

.modal table .th-name{
    text-align: left;
    padding-left: 20px;
}

.modal table tr th img{
    width: 20px;
    height: 20px;
    filter: opacity(0.9);
    vertical-align: middle;
}

.modal table tr td .level{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url(../assets/levelss.png) no-repeat;
}

.modal table tr td .l1 {
    background-position: 0px 0px;
}
.modal table tr td .l2 {
    background-position: -35px 0px;
}
.modal table tr td .l3 {
    background-position: -70px 0px;
}
.modal table tr td .l4 {
    background-position: -105px 0px;
}

.modal .money{
    color: #494334;
    display: flex;
    width: 180px;
    height: 30px;
    margin: 20px auto;
    padding: 2px 15px;
    border-radius: 22px 22px 22px 22px;
    justify-content: center;
    align-items: center;
    background-color: #776C56;
    background-color: rgba(119,108,86,0.2);
    border: 1px solid #786C56;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%) inset, 1px 1px 0px rgb(255 237 196 / 20%);
}

.modal .money img{
    width: 15px;
    filter:brightness(25%);
}

.modal .icons{
    filter: brightness(20%) opacity(30%) sepia(100%) 
    hue-rotate(309deg) saturate(82%);
}

.modal .money p{
    margin-left: 8px;
}

.modal table{
    margin-top: 30px;
}

.modal table tbody tr img{
    width: 42px;
    height: 42px;
}

.modal table tbody button{
    font-size: 0.8rem;
    padding: 4px 8px;
    color: white;
    background: #6C3515;
    border: 1px solid #281006;
    box-sizing: border-box;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.25), inset 0px -13px 5px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}


/*-------------------table-------------------*/

.table{
    background-color:#fff;
    color:#363636;
    border-collapse: collapse;
 }

.table td{
    height: 53px;
    border-width: 0 0 1px 0;
    padding:.5em .75em;
    text-align: center;
}

.table thead td,.table thead th{
    border-width:0 0 1px;
    color:#363636
}