@media screen and (max-width:680px){
    .container-header .timer{
        display:none;
    }
    .side-bar{
        top: 10%;
    }
    .bubble img{
        opacity: 1;
    }
}

@media screen and (max-width:420px){
    .container-header .weather .float, span{
        display:none;
    }

    .bb, span{
        visibility: visible;
    }

    .bubble.weather img{
        opacity: 1;
    }
}