@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Fredericka+the+Great&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";*/
@font-face {
    font-family: Palatino;
	src: url(../font/palatino-linotype/Palatino\ Linotype.ttf)
}

/* Climas implementados: .rain .cloudy #snow  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Palatino,'Dosis', sans-serif;
}
body{
    background: url(../assets/E1.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.bar{
    background-color: rgba(63, 31, 6, 0.8);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    z-index: 10;
}

.bar-header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    min-height: 6%;
    z-index: 55;
    
}

.container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    color: #ffeeb6;
    z-index: 100;
    text-shadow: 1px 1px 1px black
}

.container-header .sidel{
    display: flex;
}

.container-header .sider{
    display: flex;
}

.container-header img{
    width: 25px;
}

/****************************************/

.container-header .money{
    display: flex;
    align-items: center;
    margin: 12px;
}

.container-header .money img{
    margin-left: 16px;
}

.container-header .money p{
    margin-left: 8px;
}

/****************************************/

.container-header .worker{
    display: flex;
    align-items: center;
    margin: 12px 0 12px 0;
}

.container-header .worker img{
    margin-left: 18px;
    
}

.container-header .worker p{
    margin-left: 8px;
}

/****************************************/

.container-header .timer{
    display: flex;
    align-items: center;
}

.container-header .timer img{
    filter: hue-rotate(180deg);
    filter: brightness(0.6);
    cursor: pointer;
}

.container-header .timer .active img{
    filter: brightness(200%) opacity(100%) sepia(100%) 
    drop-shadow(1px 1px 1px #000000) contrast(200%)
    hue-rotate(309deg) saturate(82%);
    width: 40px;
    height: 40px;
}

.container-header .timer .idle img{
    display: none;
}

.container-header .timer img:hover{
    filter: brightness(200%) opacity(100%) sepia(100%) 
    drop-shadow(1px 1px 1px #000000) contrast(200%)
    hue-rotate(309deg) saturate(82%);
}

.container-header .timer p{
    margin: 0 16px 0 64px;
}

.float div{
    display: none;
    position:relative;
    width:8em;
    color:#fff;
    background:rgba(153, 153, 153,0.7);
    border-radius:5px;
    padding:5px;
}

.float:hover div {
    display:block;
    position:absolute;
    top: 40px;
    margin-left:-80px;
}


/****************************************/
.container-header .weather{
    display: flex;
    align-items: center;
    margin: 12px;
}

.container-header .weather span{
    margin-right: 16px;
}

.container-header .weather p{
    margin: 0 4px 0 16px;
}
/****************************************/

.side-bar{
    position: fixed;
    top: 20%;
    right: -70px;
}

.side-bar div{
    display: flex;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
    background: rgba(63, 31, 6, 0.8);
    transition: transform 250ms, opacity 400ms;
}

.side-bar div:hover{
    transform: translateX(-20px);
}

.side-bar .selected{
    transform: translateX(-20px);
}


.side-bar div img{
    width: 25px;
    margin: 8px 8px 8px 16px;
}

/**************** rain *******************/

.rain{
    height: 100vh;
    background:rgba(8, 8, 8, 0.5);
    background-image: url(../assets/icons/rain.png);
    animation: rain .5s linear infinite;
}

.rain:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    animation: lighting .1s linear infinite;
    opacity: 0;
}

@keyframes rain{
    0%{background-position: 0% 0%;}
    100%{background-position: 20% 100%;}
}

@keyframes lighting{
    0%{opacity: 0;}1%{opacity: 0;}2%{opacity: 0;}3%{opacity: 0;}4%{opacity: 0;}5%{opacity: 0;}6%{opacity: 0;}7%{opacity: 0;}8%{opacity: 0;}9%{opacity: 0;}
    10%{opacity: 0;}11%{opacity: 0;}12%{opacity: 0;}13%{opacity: 0;}14%{opacity: 0;}15%{opacity: 0;}16%{opacity: 0;}17%{opacity: 0;}18%{opacity: 0;}19%{opacity: 0;}
    20%{opacity: 0;}21%{opacity: 0;}22%{opacity: 0;}23%{opacity: 0;}24%{opacity: 0;}25%{opacity: 0;}26%{opacity: 0;}27%{opacity: 0;}28%{opacity: 0;}29%{opacity: 1;}
    30%{opacity: 0;}31%{opacity: 0;}32%{opacity: 0;}33%{opacity: 0;}34%{opacity: 0;}35%{opacity: 0;}36%{opacity: 0;}37%{opacity: 0;}38%{opacity: 0;}39%{opacity: 0;}
    40%{opacity: 0;}41%{opacity: 0;}42%{opacity: 0;}43%{opacity: 0;}44%{opacity: 0;}45%{opacity: 0;}46%{opacity: 0;}47%{opacity: 0;}48%{opacity: 0;}49%{opacity: 0;}
    50%{opacity: 0;}51%{opacity: 0;}52%{opacity: 0;}53%{opacity: 0;}54%{opacity: 0;}55%{opacity: 0;}56%{opacity: 0;}57%{opacity: 0;}58%{opacity: 0;}59%{opacity: 0;}
    60%{opacity: 0;}61%{opacity: 0;}62%{opacity: 0;}63%{opacity: 0;}64%{opacity: 0;}65%{opacity: 0;}66%{opacity: 0;}67%{opacity: 1;}68%{opacity: 0;}69%{opacity: 0;}
    70%{opacity: 0;}71%{opacity: 0;}72%{opacity: 0;}73%{opacity: 0;}74%{opacity: 0;}75%{opacity: 0;}76%{opacity: 0;}77%{opacity: 0;}78%{opacity: 0;}79%{opacity: 0;}
    80%{opacity: 0;}81%{opacity: 0;}82%{opacity: 0;}83%{opacity: 0;}84%{opacity: 0;}85%{opacity: 0;}86%{opacity: 0;}87%{opacity: 0;}88%{opacity: 0;}89%{opacity: 0;}
    90%{opacity: 0;}91%{opacity: 0;}92%{opacity: 0;}93%{opacity: 0;}94%{opacity: 0;}95%{opacity: 0;}96%{opacity: 0;}97%{opacity: 0;}98%{opacity: 0;}99%{opacity: 0;}
    100%{opacity: 0;}101%{opacity: 0;}102%{opacity: 0;}103%{opacity: 0;}104%{opacity: 0;}105%{opacity: 0;}106%{opacity: 0;}107%{opacity: 0;}108%{opacity: 0;}109%{opacity: 0;}
}

/**************** cloudy *******************/

.cloudy{
    height: 100vh;
    background:rgba(8, 8, 8, 0.5);
    background-image: url(../assets/icons/cloud.png);
    animation: cloudy 90s linear infinite;
    opacity: 0.5;
}

@keyframes cloudy{
    0%{background-position: 0px;}
    100%{background-position: 5440px;}
}

/*------------------------------------------------------*/
.modal{
    position: absolute;
}

.modal table{
    width: 100%;
    color: wheat;
    background: rgba(41, 40, 40, 0.63);
    border: 1px solid rgba(255, 238, 182, 0.527);
    border-radius: 4px;
}

.modal table tr th img{
    width: 20px;
    height: 20px;
    filter: opacity(0.9);
    vertical-align: middle;
}

.modal .money{
    border: 1px solid rgba(41, 40, 40, 0.63);
    border-radius: 16px;
    background-color: rgba(41, 40, 40, 0.342);;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
}

.modal .money img{
    width: 20px;
}

.modal .icons{
    filter: brightness(20%) opacity(30%) sepia(100%) 
    hue-rotate(309deg) saturate(82%);
}

.modal .money p{
    margin-left: 8px;
}

.modal table{
    margin-top: 30px;
}

.modal table tbody tr img{
    width: 42px;
    height: 42px;
}

.modal table tbody button{
    font-size: 12px;
    padding: 4px 8px;
    color: white;
    background: #6C3515;
    border: 1px solid #281006;
    box-sizing: border-box;
    box-shadow: inset 1px 4px 1px rgba(255, 255, 255, 0.25), inset 0px -13px 5px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}


